.data-table{
    width: 100%;
    margin: 20px 0px;
    border-collapse: collapse;
    box-shadow: 0 0 15px rgba(0,0,0,0.25); 
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}
td,th{
    padding: 0.55rem;
    font-size: 0.8rem;
    text-align: center;
}
thead tr{
    background-color: #50B4C8; 
}
thead tr th{
    font-weight: bold;
    color: #fff;
}
tbody tr{
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even){
    background-color: #fff;
}
tbody tr:hover{
    background-color: #1b4c83;
    color: #fff;
    transition: all linear 0.3s;
}
@media screen and (max-width:767px) {
    thead{
        display: none;
    }
    .data-table, tbody, tr, td{
        display: block;
        width: 100%;   
    }

    tbody tr td{
        text-align: right;
        position: relative;
        border-bottom: 1px solid #dddddd;
        padding: 0 15px;
    }
    tbody tr td::before{
        content: '';
        position: absolute;
        left: 0;
        width: 30%;
        text-align: left;
        padding: 0 15px;
    }
    tbody tr td:first-child::before{
        content: "ID";
    }
    tbody tr td:nth-child(2)::before{
        content: "DEVICE";

    }
    tbody tr td:nth-child(3)::before{
        content: "DURATION";

    }
    tbody tr td:nth-child(4)::before{
        content: "NUM_SCROLLS";

    }
    tbody tr td:nth-child(5)::before{
        content: "NUM_TAPS";

    }
    tbody tr td:nth-child(6)::before{
        content: "NUM_FIXATIONS";

    }
    tbody tr td:last-child::before{
        content: "MEAN_FIXATION_DURATION";

    }

}